<footer class="bg-dark text-light mt-5">
  <div class="container py-4">
    <div class="row">
      
      <!-- App Info -->
      <div class="col-md-6">
        <h5 class="fw-bold">Sarahah</h5>
        <p class="text-muted mb-0">
          Send and receive anonymous messages safely and honestly.
        </p>
      </div>

      <!-- Links -->
      <div class="col-md-3 mt-3 mt-md-0">
        <h6>Links</h6>
        <ul class="list-unstyled">
          <li><a href="/" class="text-decoration-none text-light">Home</a></li>
          <li><a href="/messages" class="text-decoration-none text-light">Messages</a></li>
          <li><a href="/login" class="text-decoration-none text-light">Login</a></li>
        </ul>
      </div>

      <!-- Social / Info -->
      <div class="col-md-3 mt-3 mt-md-0">
        <h6>Follow Us</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none text-light">Facebook</a></li>
          <li><a href="#" class="text-decoration-none text-light">Twitter</a></li>
          <li><a href="#" class="text-decoration-none text-light">Instagram</a></li>
        </ul>
      </div>

    </div>

    <hr class="border-secondary my-3">

    <!-- Copyright -->
    <div class="text-center text-muted">
      © <%= new Date().getFullYear() %> Sarahah. All rights reserved.
    </div>
  </div>
</footer>
